{% extends "pos/base.html" %}

<!-- Page title  -->
{% block title %}Añadir producto{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Añadir producto{% endblock heading %}

<!-- Page content  -->
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'products:products_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Atrás
        </button>
    </a>
</div>

<div class="row">
    <div class="card col-md-8">
        <div class="card-body">
            <form action="{% url 'products:products_add' %}"  method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputDescription">Nombre</label>
                        <input type="text" class="form-control" name="name" placeholder="Pechugas de pollo..." required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">Estado</label>
                        <select name="state" class="form-control" required>
                            {% for status in product_status %}
                            <option value="{{status.0}}">{{status.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputDescription">Descripción</label>
                        <input type="text" name="description" class="form-control" placeholder="Pechuga de pollo fresca, 3 a 5 kilos..." required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Categoria</label>
                        {% for category in categories %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="category" value="{{ category.id }}" id="category{{ category.id }}">
                            <label class="form-check-label" for="category{{ category.id }}">
                                {{ category.name }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputPrice">Precio</label>
                        <input type="number" name="price" step="any"  class="form-control" placeholder="10.99" required>
                    </div>
                </div>
                

                <button type="submit" class="btn btn-success font-weight-bold">Crear producto</button>
               
            </form>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}